{% extends  'store/main.html'%}

{% block content %}
<br>
<h1 class="textCenter">Your Cart</h1>
<div class="row">
  <div class="col" style="width: 84vw;">
    <a class="darkBtn" href="{% url 'store_page' %}">&#x2190; Continue Shopping</a>
    <br><br><br>
    <div class="boxElement">
      <div class="cartRow">
        <div>
          <h3 style="margin-left: 20px;">Review Cart</h3>
        </div>
      </div> 

      <div class="cartRow">
        <div style="flex:2"><img class="cartIMG" src="https://www.collinsdictionary.com/images/full/tomato_281240360.jpg"></div>
        <div style="flex:5">
          <p><strong>Tomato</strong> (1 kg)</p>
          <p style="font-weight: bolder; font-size: 18px">Rs 15</p>
        </div>
        <div style="flex:1"><p>+ 2 -</p></div>
      </div>

      <div class="cartRow">
        <div style="flex:2"><img class="cartIMG" src="https://cdn.shopify.com/s/files/1/0551/1004/1783/products/1jxgAL7avw_800x.jpg?v=1630676190"></div>
        <div style="flex:5">
          <p><strong>Egg plant</strong> (1 kg)</p>
          <p style="font-weight: bolder; font-size: 18px">Rs 15</p>
        </div>
        <div style="flex:1"><p>+ 2 -</p></div>
      </div>


      <h5 class="priceTotal">Total : Rs 1050</h5>
      <a style="float:right; margin-top: 30px;"class="greenBtn" href="{% url 'checkout0_page' %}">Checkout</a>
            
            
    </div>
  </div>
</div>
{% endblock content %}
