{% extends  'store/main.html'%}
{% block content %}

<style>
  *{
    padding: 0;
    margin: 0;
  }
  .homeBanner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px 0 30px;

  }


</style>

<div class="homeContainer">
  <div class="homeBanner">
    <div class="bannerLeft">
      <h1>we sell vegitables</h1><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nisi pariatur atque cum voluptates aperiam corporis deserunt maiores sunt veritatis.</p>
    </div>
    <img src="https://img.freepik.com/free-vector/vegetables-concept-illustration_114360-12366.jpg?size=626&ext=jpg&ga=GA1.1.1047322870.1676297463&semt=ais">
  </div>

  <div class="homeBullets">
    <div>
      
    </div>
  </div>
</div>
{% endblock %}