body{
  background-color:#e0e0e0;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ----NAVBAR----- */
.navbarr{
  padding: 10px 25px;
  background-color: rgb(43, 44, 48);
  color: white;
}
.navbarr a:hover{
  color: white;
}
a{
  padding: 10px;
  font-size: 20;
  color: grey;
  text-decoration: none;
}
a:hover{
  color: rgb(0, 0, 0);
}
.brand{
  font-size: 20px;
  text-decoration: none;
  color: white
}
.navbarr, .nav-left, .nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#cart-icon{
  display: inline-block;
  margin-left: 15px;
}
.nav-right{
  padding-left:900px
}

/* main */
.row{
  margin: 20px 100px;
  display: flex;
  font-size: 22px;
  max-height: 420px;
}
.box-element{
  border-radius: 4px;
  padding: 0 10px ;
}

.thumbnail{
  width: 100%;
  height: 200px;
}

.row-image{
  width: 100px;
}
.add-btn{
  font-size: 15px;
  border: 1px solid black;
  padding: 12px;
  margin-top: 8px;
}
.add-btn:hover{
  color: white;
  background-color:grey;
  border: 1px solid grey;
}
.price{
  display: inline-block; 
  float: right; 
  margin-top: 15px
}
.cart-row{
  display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.coll{
  margin: 20px;
  max-width: 33.3%;
  min-width: 30.3%;
  
  background-color: white;
}


.navbarr ul{
  text-decoration: none;
  list-style-type: none;
}

.order-complete{
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(13, 143, 13);
}
.order-pending {
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(255, 255, 0);
}

