{% extends  'store/main.html'%}

{% block content %}
<br>
<h1 class="textCenter">Your Orders</h1>
<div class="row">
  <div class="col">
    <a class="darkBtn" href="{% url 'store_page' %}">&#x2190; Continue Shopping</a>
    <br><br><br>
    <div class="boxElement" style="width: 82vw;">
      <div class="cartRow">
        <div style="flex:2"></div>
        <div style="flex:2"><strong>Product</strong></div>
        <div style="flex:1; margin-right: 5px"><strong>Date</strong></div>
        <div style="flex:1"><strong>Price</strong></div>
        <div style="flex:1"><strong>Quantity</strong></div>
        <div style="flex:1"><strong>Total</strong></div>
        <div style="flex:1"><strong>Status</strong></div>
      </div>
      <br>

      <div class="cartRow">
        <div style="flex:2"><img class="cartIMG" src="https://www.collinsdictionary.com/images/full/tomato_281240360.jpg"></div>
        <div style="flex:2"><p>Tomato (1 kg)</p></div>
        <div style="flex:1; margin-right: 20px"><p>15-03-2023</p></div>
        <div style="flex:1"><p>Rs 15</p></div>
        <div style="flex:1"><p class="quantity">2</p></div>
        <div style="flex:1"><p>Rs 30</p></div>
        <div class="orderPending" style="flex:1"><p><strong>Pending</strong></p></div>
      </div>
      <div class="cartRow">
        <div style="flex:2"><img class="cartIMG" src="https://www.macmillandictionary.com/external/slideshow/full/151562_full.jpg"></div>
        <div style="flex:2"><p>Peaas (1 kg)</p></div>
        <div style="flex:1; margin-right: 20px"><p>15-03-2023</p></div>
        <div style="flex:1"><p>Rs 25</p></div>
        <div style="flex:1"><p class="quantity">1</p></div>
        <div style="flex:1"><p>Rs 25</p></div>
        <div class="orderComplete" style="flex:1"><p><strong>Complete</strong></p></div>
      </div>
      <div class="cartRow">
        <div style="flex:2"><img class="cartIMG" src="http://specialtyproduce.com/sppics/297.png"></div>
        <div style="flex:2"><p>Spring Onion (1 log)</p></div>
        <div style="flex:1; margin-right: 20px"><p>10-03-2023</p></div>
        <div style="flex:1"><p>Rs 10</p></div>
        <div style="flex:1"><p class="quantity">2</p></div>
        <div style="flex:1"><p>Rs 20</p></div>
        <div class="orderComplete" style="flex:1"><p><strong>Complete</strong></p></div>
      </div>

      
    </div><br><br>
  </div>
</div>
{% endblock content %}
