{% extends 'store/main.html' %}
  
{% block content %}
  <!-- items -->
  <div class="row" style="font-size: 23px; width: 85vw">

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="http://specialtyproduce.com/sppics/297.png">
      <div class="boxElement">
        <h6 class="itemName">Spring onion (1 )</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 20</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="https://im.pluckk.in/unsafe/1200x0/uploads/960-veggies-img-a00-1600x1200-1200--1200px-8.jpg">
      <div class="boxElement">
        <h6 class="itemName">Lady finger (1 kg)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 10</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="https://www.collinsdictionary.com/images/full/tomato_281240360.jpg">
      <div class="boxElement">
        <h6 class="itemName">Tomato (1 kg)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 15</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="https://www.macmillandictionary.com/external/slideshow/full/141151_full.jpg">
      <div class="boxElement">
        <h6 class="itemName">Potato (1 kg)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 25</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="https://www.macmillandictionary.com/external/slideshow/full/151562_full.jpg">
      <div class="boxElement">
        <h6 class="itemName">Peas (1 kg)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 15</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="https://im.pluckk.in/unsafe/1200x0/product_thumbnail/111111200AC/ginger.jpg">
      <div class="boxElement">
        <h6 class="itemName">Ginger (50 g)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 23</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="https://fitelo.co/wp-content/uploads/2022/05/Website-Pictures-28-1.jpg">
      <div class="boxElement">
        <h6 class="itemName">Green chilli (100 g)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 15</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="https://cdn.shopify.com/s/files/1/0551/1004/1783/products/1jxgAL7avw_800x.jpg?v=1630676190">
      <div class="boxElement">
        <h6 class="itemName">Egg plant (1 kg)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 15</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw15mQdR2ToM_mwFdBjVafS-g7i1-gzpRdtA&usqp=CAU">
      <div class="boxElement">
        <h6 class="itemName">Cauliflower (1 kg)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 15</strong></h5>
      </div>
      <br>
    </div>

    <div class="col itemCol" id="{{ item.id }}">
      <img class="thumbnail" src="http://cdn.shopify.com/s/files/1/0663/9613/products/franceBeans_9c25dae6-5e71-4e41-9ddd-a23b1ca2d0be_grande.png?v=1659474588">
      <div class="boxElement">
        <h6 class="itemName">Beans (1 kg)</h6>
        <form action="" method="POST">
          {% csrf_token %}
          <input style="float:right" type="submit" value="Add to Cart" class="greenBtn">
        </form>
        <h5 class="itemPrice"><strong>Rs 35</strong></h5>
      </div>
      <br>
    </div>

  </div>
{% endblock %}
